{% extends "base.html" %}
{% load static%}

{% block content %}
<div id="sponsors" >

  </div>
  <main>

    <div id="main-block" class="main-block">
      <div class="courses-block" >
        <div  class="title-block">
          <h1><a href="#">New courses</a></h1>
        </div>
        <div class="simple-course-block">
          <div class="block">
            <img class="main-icon" src="{% static "images/courses1.png"%}">
            <p>Author</p>
            <h3>Name of the courses</h3>
            <div class="block-footer">
              <div>
                <img class ="footer-icon" src="{% static "images/user.svg"%}">
                <p>14.2k</p>
              </div>
              <div>
                <p>4</p>
                <img class="footer-icon" src="{% static "images/star.svg"%}">
              </div>
            </div>
          </div>
          <div class="block">
            <img class="main-icon" src="{% static "images/courses2.png"%}">
            <p>Author</p>
            <h3>Name of the courses</h3>
            <div class="block-footer">
              <div>
                <img class ="footer-icon" src="{% static "images/user.svg"%}">
                <p>14.2k</p>
              </div>
              <div>
                <p>4</p>
                <img class="footer-icon" src="{% static "images/star.svg"%}">
              </div>
            </div>
          </div>
          <div class="block">
            <img class="main-icon" src="{% static "images/courses3.png"%}">
            <p>Author</p>
            <h3>Name of the courses</h3>
            <div class="block-footer">
              <div>
                <img class ="footer-icon" src="{% static "images/user.svg"%}">
                <p>14.2k</p>
              </div>
              <div>
                <p>4</p>
                <img class="footer-icon" src="{% static "images/star.svg"%}">
              </div>
            </div>
          </div>
          <div class="block">
            <img class="main-icon" src="{% static "images/courses4.jpg"%}">
            <p>Author</p>
            <h3>Name of the courses</h3>
            <div class="block-footer">
              <div>
                <img class ="footer-icon" src="{% static "images/user.svg"%}">
                <p>14.2k</p>
              </div>
              <div>
                <p>4</p>
                <img class="footer-icon" src="{% static "images/star.svg"%}">
              </div>
            </div>
          </div>
          <div class="block">
            <img class="main-icon" src="{% static "images/courses5.png"%}">
            <p>Author</p>
            <h3>Name of the courses</h3>
            <div class="block-footer">
              <div>
                <img class ="footer-icon" src="{% static "images/user.svg"%}">
                <p>14.2k</p>
              </div>
              <div>
                <p>4</p>
                <img class="footer-icon" src="{% static "images/star.svg"%}">
              </div>
            </div>
          </div>
          <div class="block">
            <img class="main-icon" src="{% static "images/courses6.jpg"%}">
            <p>Author</p>
            <h3>Name of the courses</h3>
            <div class="block-footer">
              <div>
                <img class ="footer-icon" src="{% static "images/user.svg"%}">
                <p>14.2k</p>
              </div>
              <div>
                <p>4</p>
                <img class="footer-icon" src="{% static "images/star.svg"%}">
              </div>
            </div>
          </div>
        </div>

        <div class="courses-block" >
        <div  class="title-block">
          <h1><a href="#">Paid courses</a></h1>
        </div>
        <div class="simple-course-block">
          <div class="block">
            <img class="main-icon" src="{% static "images/courses7.png"%}">
            <p>Author</p>
            <h3>Name of the courses</h3>
            <div class="block-footer">
              <div>
                <img class ="footer-icon" src="{% static "images/user.svg"%}">
                <p>14.2k</p>
              </div>
              <div>
                <p>4</p>
                <img class="footer-icon" src="{% static "images/star.svg"%}">
              </div>
            </div>
          </div>
          <div class="block">
            <img class="main-icon" src="{% static "images/courses8.png"%}">
            <p>Author</p>
            <h3>Name of the courses</h3>
            <div class="block-footer">
              <div>
                <img class ="footer-icon" src="{% static "images/user.svg"%}">
                <p>14.2k</p>
              </div>
              <div>
                <p>4</p>
                <img class="footer-icon" src="{% static "images/star.svg"%}">
              </div>
            </div>
          </div>
          <div class="block">
            <img class="main-icon" src="{% static "images/courses9.png"%}">
            <p>Author</p>
            <h3>Name of the courses</h3>
            <div class="block-footer">
              <div>
                <img class ="footer-icon" src="{% static "images/user.svg"%}">
                <p>14.2k</p>
              </div>
              <div>
                <p>4</p>
                <img class="footer-icon" src="{% static "images/star.svg"%}">
              </div>
            </div>
          </div>
        </div>
      </div>
        
      </div>
      <div class="aside">
        <h2>Topic</h2>
        <div>
        <a href="#">Mathematics</a>
        <a href="#">Statistics</a>
        <a href="#">Informatics</a>
        </div>
        <h2>Categories</h2>
        <div>
        <a href="#">Popular courses</a>
        <a href="#">New courses</a>
        <a href="#paid-course">Paid courses</a>
        <a href="#">Preparation for EIT</a>
        <a href="#">Fundamentals of programing</a>
        <a href="#">Courses for programmers</a>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
